In [ ]:
# To practice before INTERVIEW
# https://twitter.com/akshay_pachaar/status/1851965755291767270
# lambda, filter, pd -apply, map

In [1]:
# create a quick function without a name
# syntax => lambda arguments: expression

add =  lambda x,y : x+y
add(3,4)

7

In [7]:
# with filter

a = [1,2,3,4,5,6]
even_num = filter(lambda x: x%2==0, a)
list(even_num)

[2, 4, 6]

In [11]:
list(map(lambda x:x%2==0, range(1,20)))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [12]:
# df.apply
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],'B':[1,4,7],'C':[3,2,1]})
df

   A  B  C
0  1  1  3
1  2  4  2
2  3  7  1

In [13]:
df['A'] = df['A'].apply(lambda x: x*x)
df

   A  B  C
0  1  1  3
1  4  4  2
2  9  7  1