In [58]:


class Gadget(object):
    def __init__(self, name, price, quantity, names=[]):
        self.name = name
        self.price = price
        self.quantity = quantity
        self.names = names
        
    def cal_tot_spend(self):     
        # method to calculate total spend
        return self.price * self.quantity
    
    def __str__(self):
        # method to print object as string
        return f"The name is {self.name}"
    
    def show_names(self):
        if len(self.names) == 0:
            print("List is empty")
        else:
            print(self.names)

In [59]:
gdt1 = Gadget("Laptop", 10000, 5)
gdt1

In [60]:
print(gdt1)

The name is Laptop

In [21]:
gdt1.names = ['a','b']

In [22]:
gdt1.show_names()

['a', 'b']

In [2]:
laptop = {"name":"Laptop",
          "price":5000,
          "quantity": 5}

In [6]:
laptop

{'name': 'Laptop', 'price': 5000, 'quantity': 5}

In [9]:
laptop["name"]

'Laptop'

In [4]:
import pandas as pd
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
df = pd.DataFrame(data=d, index=[0, 1, 2, 3])
df

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [5]:
df.col1
df["col1"]

0    0
1    1
2    2
3    3
Name: col1, dtype: int64

In [7]:
type(df.col1)

pandas.core.series.Series

In [36]:
class Laptop(Gadget):
    def __init__ (self, name, is_touch, price = 30000, quantity=3, names=[]):
        super().__init__(name, price, quantity, names)
        self.is_touch = is_touch
    
    def touch_or_not(self):
        if self.is_touch == True:
            print("It is Touch")

In [43]:
l1 = Laptop('Acer', True)
# l1.cal_tot_spend()
l1

TypeError: Laptop.__init__() missing 1 required positional argument: 'is_touch'

In [42]:
l1.cal_tot_spend()

90000

In [124]:
class Room(object):
    def __init__(self, num_walls, num_doors, items):
        self.num_walls = num_walls
        self.num_doors = num_doors
        self.items = items
    
    def __str__(self):
        # to print each element in the variable items
        # enumerate/traverse the self.items
        # error handling for nonetype error and print empty room 
        # think of other kind of error
        output = ''
        try:
            for i in self.items:
                output += f"Items present- {i} \n"
            return output
        except Exception as e:
            print(e)
            return 'Empty room'

In [125]:
# add __str def here to print items
# use inheritance in this scenario

class Table(object):
    def __init__(self, length, width):
        self.length = length
        self.width = width
    
    def __str__(self):
        return f"Table with length - {self.length} and width - {self.width}"

class Chair(object):
    def __init__(self, length, width):
        self.length = length
        self.width = width
        
    def __str__(self):
        return f"Chair with length - {self.length} and width - {self.width}"

In [126]:
t1 = Table(3,4)
c1 = Chair(2,3)

r1 = Room(num_walls=4,num_doors=5, items=[c1,t1])

In [127]:
print(r1)

Items present- Chair with length - 2 and width -3
Items present- Table with length - 3 and width -4

In [105]:
r1 = Room(4,2)

t1 = Table(2,3)

c1 = Chair(1,2)

In [118]:
print(r1.items)

[<__main__.Chair object at 0x1284de490>, <__main__.Table object at 0x1283e0f10>]

In [106]:
# r1.items= [t1, c1]
r1.items =  t1

print(r1)

Items present- Table with length - 2 and width -3

In [89]:
print(t1)

Table with length - 2 and width -3

In [100]:
class Room(Table, Chair):
    def __init__(self):
        self.

In [ ]:
r1=Room()